click>=8.1.8
questionary>=2.1.0
jinja2>=3.1.5
jsonschema>=4.23.0
packaging>=24.2
prompt_toolkit>=3.0.48
rich>=13.9.4
sysrsync>=1.0.1
requests>=2.27.1
markdown>=3.3.6
pymdown-extensions>=10.4
pdfkit>=1.0.0
PyPDF2>=3.0.1
PyYAML>=6.0.2
