singularity {
	enabled = true
	autoMounts = true
}

process {
	executor = 'slurm'
	queue = 'middle_idx'
	withName: 'FASTP' {
            ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 10 --length_required 50'
        }
}

params {
	max_memory = 376.GB
	max_cpus = 32
	max_time = '48.h'
}
