<p>
    <img src="./assets/BU_ISCIII_logo.png" alt="logo" width="200" align="left" />
</p>
<br>
<br>
# Service results report from the Bioinformatics Unit (BU-ISCIII)

## {{ service.service_request_number }} service information:

Here we describe the information about the service request:

* Service ID: {{ service.service_request_number }}
* Request date: {{ service.service_created_date }}
* Center Requested service : {{service.service_center}}
* Service status : {{service.service_state}}
* Requested services:
{% for a_service in service.service_available_service %}
{{ a_service }}
{% endfor %}
* Service Notes : {{service.service_notes}}

## User information:

Here we describe the information about the user requesting the service.

* Name and first name: {{ user_data.first_name }} {{ user_data.last_name}}
* Username: {{ user_data.username }}
* E-mail: {{ user_data.email }}

## Resolution information

Here we describe information about the requested resolution.

* Resolution: {{ resolution.resolution_number }}
* Resolution full name: {{ resolution.resolution_full_number }}
* Resolution date: {{ resolution.resolution_date }}
{% if resolution.resolution_estimated_date -%}
* Resolution estimated delivery date: {{ resolution.resolution_estimated_date }}
{%- endif %}
* Resolution on Queued date: {{ resolution.resolution_queued_date }}
{% if resolution.resolution_in_progress_date -%}
* Resolution in Progress date: {{ resolution.resolution_in_progress_date }}
{%- endif %}
* Requested services handle in this resoution:
{% for a_service in resolution_serviceIDs %}
    - {{ a_service }}
{% endfor %}
* Resolution Notes: {{ resolution.resolution_notes }}

## Delivery information

Here we describe information about the resolution delivery.

{% if resolution.resolution_delivery_date %}
* Resolution Delivery date: {{ resolution.resolution_delivery_date }}
{% endif %}
{% if delivery.delivery_notes %}
* Resolution Delivery notes: {{ delivery.delivery_notes }}
{% endif %}
{% if delivery.pipelines_in_delivery %}
* Pipelines in delivery: {{ delivery.pipelines_in_delivery }}
{% endif %}
{% if delivery.execution_start_date %}
* Execution start date: {{ delivery.execution_start_date }}
{% endif %}
{% if delivery.execution_end_date %}
* Execution end date: {{ delivery.execution_end_date }}
{% endif %}
{% if delivery.permanent_used_space %}
* Permanent used space: {{ delivery.permanent_used_space }}
{% endif %}
{% if delivery.temporary_used_space %}
* Temporary used space: {{ delivery.temporary_used_space }}
{% endif %}

{% if samples %}
## Samples sequenced at ISCIII:
##Here we describe information about the project associated to the service:
{% if service_sequencing_center -%} * Sequencing center: {{ service_sequencing_center }}{% endif %}
{% for run , projects in samples.items() %}
* Run name: {{ run }}
    {% for project, samples_in_project in projects.items() %}
    * Project name: {{ project }}
    * Samples:
        {% set comma = joiner(", ") %}{% for samples_in_project in samples_in_project %}{{ comma() }}{{ samples_in_project }}{% endfor %}
    {% endfor %}
{% endfor %}
{% endif %}

<style>
    .page-break { page-break-before: always; }
</style>

<div class="page-break"></div>

## Software versions:

{% if services_list is mapping and software_versions is mapping %}
{%- set service_list = services_list.items() | list %}
{%- set file_version_list = software_versions.items() | list %}

{%- for index in range(service_list | length) %}
  {%- if index < file_version_list | length %}
    {%- set service_id, description = service_list[index] %}
* <b>{{ description }} ({{ service_id }})</b>:
    {%- set file_path, processes = file_version_list[index] %}
    {%- if processes | length > 0 %}
      {%- for process, tools in processes.items() %}
    - {{ process }}:
          {%- for tool, version in tools.items() %}
        - {{ tool }}: {{ version }}
          {%- endfor %}
      {%- endfor %}
    {%- else %}
    - No software versions data available for this file path.
    {%- endif %}
  {%- else %}
    {%- set service_id, description = service_list[index] %}
* <b>{{ description }} ({{ service_id }})</b>:
    - No software versions data available for this service.
  {%- endif %}
{%- endfor %}
{% else %}
No software versions data available for this service.
{% endif %}

<!---
### TODO
### External Samples
-->
