<p>
    <img src="./assets/BU_ISCIII_logo.png" alt="logo" width="200" align="left" />
</p>
<br>
<br>
# Service requested to  Bioinformatics Unit (BU-ISCIII)

## {{ service.service_request_number }} service information:

Here we describe the information about the service request:

* Service ID: {{ service.service_request_number }}
* Request date: {{ service.service_created_date }}
* Center Requested service : {{service.service_center}}
* Service status : {{service.service_state}}
* Requested services:
{% for a_service in service.service_available_service %}
{{ a_service }}
{% endfor %}
* Service Notes : {{service.service_notes}}

## User information:

Here we describe the information about the user requesting the service.

* Name and first name: {{ user_data.first_name }} {{ user_data.last_name}}
* Username: {{ user_data.username }}
* E-mail: {{ user_data.email }}


{% if resolution %}
## Resolution information

Here we describe information about the requested resolution.

* Resolution: {{ resolution.resolution_number }}
* Resolution full name: {{ resolution.resolution_full_number }}
* Resolution date: {{ resolution.resolution_date }}
{% if resolution.resolution_estimated_date -%}
* Resolution estimated delivery date: {{ resolution.resolution_estimated_date }}
{%- endif %}
* Resolution on Queued date: {{ resolution.resolution_queued_date }}
{% if resolution.resolution_in_progress_date -%}
* Resolution in Progress date: {{ resolution.resolution_in_progress_date }}
{%- endif %}
* Requested services handle in this resoution:
{% for a_service in resolution_serviceIDs %}
    - {{ a_service }}
{% endfor %}
* Resolution Notes: {{ resolution.resolution_notes }}
{% endif %}

{% if samples %}
## Samples sequenced at ISCIII:

Here we describe information about the project associated to the service:
{% if service_sequencing_center -%} * Sequencing center: {{ service_sequencing_center }}{% endif %}
{% for run , projects in samples.items() %}
* Run name: {{ run }}
    {% for project, samples_in_project in projects.items() %}
    * Project name: {{ project }}
    * Samples:
        {% set comma = joiner(", ") %}{% for samples_in_project in samples_in_project %}{{ comma() }}{{ samples_in_project }}{% endfor %}
    {% endfor %}
{% endfor %}
{% endif %}

<!---
### TODO
### External Samples
-->
