<p>
    <img src="../assets/BU_ISCIII_logo.png" alt="logo" width="200" align="left" />
</p>
<br>
<br>

## Service results report from the Bioinformatics Unit (BU-ISCIII)

### {{ id }} service information:

Here we describe the information about the service request:

* Service ID: {{ service_number }}
* Request date: {{ service_request_date }}
{% if service_estimated_delivery_date %}
    * Estimated delivery date: {{ service_estimated_delivery_date }}
{% endif %}
{% if  service_resolution_date %}
    * Resolution: {{ resolution_number }}
    * Resolution date: {{ service_resolution_date }}
{% endif %}
{% if service_in_progress_date %}
    esp* Analysis starting date: {{ service_in_progress_date }}
{% endif %}
{% if service_delivery_date %}
* Delivery date: {{ service_delivery_date }}
{% endif %}
* Service notes: {{ service_notes }}

### User information:

Here we describe the information about the user requesting the service.

* Name and first name: {{ user_data.first_name }} {{ user_data.last_name}}
* Username: {{ user_data.username }}
* E-mail: {{ user_data.email }}


### Samples sequenced at iSCIII:

Here we describe information about the project associated to the service:

{% if service_sequencing_center -%} * Sequencing center: {{ service_sequencing_center }} {% endif %}


{% for run , projects in samples.items() %}
    * Run name: {{ run }}
    {% for project, samples_in_project in projects.items() %}
        * Project name: {{ project }}
        * Samples:
        {% set comma = joiner(", ") %}
        {% for sample_in_project in samples_in_project %}{% if loop.last %}{{ sample_in_project }}{% else %}{{ sample_in_project }}{{ comma() }}{% endif %}{% endfor %}
    {% endfor %}
{% endfor %}


### External Samples
