<p>
    <img src="assets/BU_ISCIII_logo.png" alt="logo" width="200" align="left" />
</p>
<br>
<br>
## Service results report from the Bioinformatics Unit (BU-ISCIII)

### {{ id }} service information:

Here we describe the information about the service request:

* Service ID: {{ service_number }}
* Resolution: {{ resolution_number }}
* Request date: {{ service_request_date }}
* Resolution date: {{ service_resolution_date }}
{% if service_in_progress_date -%}
* Analysis starting date: {{ service_in_progress_date }}
{% endif -%}
{% if service_estimated_delivery_date -%}
* Estimated delivery date: {{ service_estimated_delivery_date }}
{% endif -%}
* Delivery date: {{ service_delivery_date }}
* Service notes: {{ service_notes }}

### User information:

Here we describe the information about the user requesting the service.

* Name and first name: {{ user_first_name }} {{ user_last_name}}
* Username: {{ username }}
* E-mail: {{ user_email }}


### Project:

Here we describe information about the project associated to the service:

{% if service_sequencing_center -%} * Sequencing center: {{ service_sequencing_center }} {% endif %}
{% if run_name -%}
* Run name: {{ run_name}}
{% if run.projects -%}
{%- for project in run.projects -%}
* Project name: {{ project.projects }}
{% if samples -%}
* Samples:{% set comma = joiner(", ") %}{% for sample in samples -%}{{ comma() }}{{ sample }}
{%- endfor -%}
{% endif -%}

{%- endfor -%}
{% endif -%}
{% endfor %}
{% endif -%}
