singularity {
	enabled                = true
	autoMounts             = true
	docker.enabled         = false
	podman.enabled         = false
	shifter.enabled        = false
	charliecloud.enabled   = false
}

process {
	executor = 'slurm'
	queue = 'middle_idx'
	errorStrategy = { task.exitStatus in [140,143,137,138,104] ? 'retry' : 'finish'; task.exitStatus in [1,4,134,139,255] ? 'ignore' : 'finish' }
	maxRetries = 1
	maxErrors = '-1'
	
	withName: FILTERVARIANTTRANCHES {
		ext.prefix       = {"${meta.id}.haplotypecaller"}
		ext.args         = { "--info-key CNN_1D --lenient --disable-sequence-dictionary-validation" }
	}
        withName: 'GATK4_GENOMICSDBIMPORT' {
                publishDir       = [enabled: false]
        }

}

params {
	max_memory = 376.GB
	max_cpus = 32
	max_time = '48.h'
}
