singularity {
	enabled = true
	autoMounts = true
}

process {
	executor = 'slurm'
	queue = 'middle_idx'
        withName: '.*:FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
            ext.args = '--fastqc --length 50'
        }
	withName: '.*:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
            ext.args = '--numBootstraps 30'
        }
}

params {
	max_memory = 376.GB
	max_cpus = 32
	max_time = '48.h'
}
