process {
  executor = 'slurm'
  queue = 'middle_idx'
  conda = '/data/ucct/bi/pipelines/miniconda3/envs/PikaVirus'
  errorStrategy = { task.exitStatus in [140,143,137,138,104,134,139] ? 'retry' : 'finish'; task.exitStatus in [1,4,255] ? 'ignore' : 'finish' }
  maxRetries = 5
  maxErrors = '-1'
}

params {
  config_profile_name = 'ISCIII HPC profile'
  config_profile_description = 'Profile designed for the High Performance Computer in the ISCIII'
  kraken2_db = "/data/ucct/bi/references/kraken/minikraken_8GB_20200312"
  vir_ref_dir = "/data/ucct/bi/references/PikaVirus/viral_assemblies_for_pikavirus"
  vir_dir_repo = "/data/ucct/bi/references/PikaVirus/viral_assemblies.tsv"
  bact_ref_dir = "/data/ucct/bi/references/PikaVirus/bacteria_assemblies_for_pikavirus"
  bact_dir_repo = "/data/ucct/bi/references/PikaVirus/bacteria_assemblies.tsv"
  fungi_ref_dir = "/data/ucct/bi/references/PikaVirus/fungi_assemblies_for_pikavirus"
  fungi_dir_repo = "/data/ucct/bi/references/PikaVirus/fungi_assemblies.tsv"
  outdir = "01-PikaVirus-results"
  max_memory = 376.GB
  max_cpus = 32
  max_time = '48.h'
}