singularity {
        enabled = true
        autoMounts = true
        runOptions = '-B /data/ucct/bi/references/ -B "$HOME"'
}

process {
        executor = 'slurm'
        queue = 'middle_idx'
        withName: 'FASTP' {
            ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 10 --length_required 50'
        }
        withName: 'PANGOLIN' {
            ext.args = '--datadir XXXX'
            container = 'https://depot.galaxyproject.org/singularity/pangolin:4.3--pyhdfd78af_2'
        }
        withName: 'NEXTCLADE_DATASETGET|NEXTCLADE_RUN' {
        container = 'https://depot.galaxyproject.org/singularity/nextclade:3.5.0--h9ee0642_0'
        }
        withName: 'KRAKEN2_KRAKEN2' {
            publishDir = [
                pattern: "*.{unclassified.fastq.gz,unclassified_1.fastq.gz,unclassified_2.fastq.gz,report.txt}"
            ]
        }
        withName: 'MULTIQC' {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.19--pyhdfd78af_0'
    }
}

params {
        // Max resource options
        max_memory = 376.GB
        max_cpus = 32
        max_time = '48.h'
}
