singularity {
	enabled = true
	autoMounts = true
        runOptions = '-B /data/ucct/bi/references/'
}

process {
	executor = 'slurm'
	queue = 'middle_idx'
        withName: 'ARTIC_MINION' {
            ext.args = [
                '--normalise 500',
                '--scheme-directory /data/ucct/bi/references/virus/2019-nCoV/primer_schemes/',
                '--medaka'
            ].join(' ').trim()
        }
        withName: 'PANGOLIN' {
            ext.args = '--datadir /data/ucct/bi/references/pangolin/20230227/'
            container = 'https://depot.galaxyproject.org/singularity/pangolin:4.2--pyhdfd78af_1'
        }
	withName: 'NEXTCLADE_DATASETGET|NEXTCLADE_RUN' {
        container = 'https://depot.galaxyproject.org/singularity/nextclade:2.9.1--h9ee0642_0'
    }
}

params {
        // Max resource options
	max_memory = 376.GB
	max_cpus = 32
	max_time = '48.h'
}
