singularity {
    enabled              = true
    autoMounts           = true
}
docker.enabled       = false
podman.enabled       = false
shifter.enabled      = false
charliecloud.enabled = false

process {
    executor = 'slurm'
    queue    = 'middle_idx'

    resourceLimits = [cpus: 32, memory: 376.GB, time: 48.h]

    errorStrategy = {
        if (task.exitStatus in [104, 137, 138, 140, 143]) return 'retry'
        if (task.exitStatus in [1, 4, 134, 139, 255])     return 'ignore'
        return 'finish'
    }
    maxRetries = 1
    maxErrors  = '-1'

    withLabel: error_ignore {
        errorStrategy = 'terminate'
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQC' {
        cpus   = 2
        memory = '8 GB'
    }
    withName: 'BWAMEM1_INDEX' {
        cpus   = 2
        memory = { 4.GB * task.attempt }
    }
    withName: 'NFCORE_SAREK:SAREK:BAM_APPLYBQSR_SPARK:GATK4SPARK_APPLYBQSR' {
        cpus   = 10
        memory = '30000 MB'
    }
}

params {
    genome = null
}
