/*
    HPC XTUTATIS CONFIGURATION
*/

singularity {
        enabled                 = true
        autoMounts              = true
        singularity.cacheDir    = '/data/bi/pipelines/singularity-images'
}

process {
	executor        = 'slurm'
	queue           = 'middle_idx'
	jobName         = { "$task.name - $task.hash" }
	conda           = null

	errorStrategy   = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }

	withName:'SPADES|MEGAHIT' {
		errorStrategy = { task.exitStatus in [143,137,21,1] ? 'retry' : 'finish' }
        maxRetries    = 2
		cpus = { 10 * task.attempt }
		memory = { 64.GB * task.attempt }
		time = { 24.h }
	}
	withName:'MAXBIN2' {
		// often fails when insufficient information, so we allow it to gracefully fail without failing the pipeline
		errorStrategy = { task.exitStatus in [ 1, 255 ] ? 'ignore' : 'retry' }
		time          = { 8.h * task.attempt }
	}
	withName:'CONCOCT_CONCOCT' {
		errorStrategy = { task.exitStatus in [140] ? 'retry' : 'finish' }
		maxRetries = 2
		cpus = { 8 * task.attempt }
		memory = { 64.GB * task.attempt }
		time = { 12.h * task.attempt }
	}
	withName:'CHECKM_LINEAGEWF' {
		errorStrategy = { task.exitStatus in [1] ? 'retry' : 'finish' }
                maxRetries = 3
                cpus = { 8 * task.attempt }
                memory = { 32.GB * task.attempt }
                time = { 4.h * task.attempt }
	}
	withName:'BOWTIE2_PHIX_REMOVAL_BUILD'{
		time = 12.h
	}
}

params {
	max_memory = 376.GB
	max_cpus = 32
	max_time = '48.h'
}
