singularity {
	enabled = true
	autoMounts = true
}

process {
	executor = 'slurm'
	queue = 'middle_idx'
	withName: 'FASTP' {
            ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 10 --length_required 50'
        }
        withName: 'KRAKEN2_KRAKEN2' {
            publishDir = [
                pattern: "*.{unclassified_1.fastq.gz,unclassified_2.fastq.gz,txt}"
            ]
        }
}

params {
        // Input options
        platform=illumina
        protocol=metagenomic

        // Illumina QC, read trimming and filtering options
        kraken2_db="/data/bi/references/eukaria/homo_sapiens/hg38/UCSC/kraken2/kraken2_human.tar.gz"

        // Illumina variant calling options
        variant_caller=ivar
        consensus_caller=bcftools
        skip_pangolin=true
        skip_nextclade=true
        
        // Illumina de novo assembly options
        skip_assembly=true

        // Max resource options
	max_memory = 376.GB
	max_cpus = 32
	max_time = '48.h'
}
