/*
    HPC XTUTATIS CONFIGURATION
*/

singularity {
    enabled                 = true
    autoMounts              = true
    singularity.cacheDir    = '/data/ucct/bi/pipelines/singularity-images/'
}

process {
    executor        = 'slurm'
    queue           = 'middle_idx'
    jobName         = { "$task.name - $task.hash" }
    conda           = null

    errorStrategy   = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }

    withName:'KAIJU_KAIJU' {
        errorStrategy = { task.exitStatus in [143,137,21,1] ? 'retry' : 'finish' }
        maxRetries    = 3
        memory = { 72.GB * task.attempt }
        time = { 8.h }
    }
}

params {
    max_memory = 376.GB
    max_cpus = 32
    max_time = '24.h'
}

/*
    Custom base.config
*/
